#entidad .page-frame {
	padding: 0;
	background: transparent;
}

.entity-list-container {
    background-color: transparent;
    width: 100%;
    overflow-y: scroll;
	overflow: hidden;
}

.list-entity {
    width: 100%;
    background: white;
    text-align: left;
    color: #1d304d;
    margin: 5px 0px;
    border-radius: 3px;
    padding: 10px 5px;
    border: none;
    float: left;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
}

.icon {
    float: right;
    background: #4e769b;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;    
    width: initial;
    height: initial;
}

.asignar-container {
    display: inline;
    width: 120px;
    float: right;
    right: 10px;
    position: absolute;
    background: #4e769b;
    border-radius: 3px;
    text-align: center;
}

.asignar-container .icon {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    border-radius: 3px;
    margin: 0;
}

.icon:hover {
    background-color: #3e5c77;
}

.icon-alta {
	float: left;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.page-list .element-list {
	display: block;
	cursor: pointer;
}

.baja-button {
	background-color: #ea0303 !important;
}	