.entity-list-container {
    background-color: transparent;
    width: 100%;
    overflow-y: scroll;
	overflow: hidden;
}

.list-entity {
    width: 100%;
    background: white;
    text-align: left;
    color: #1d304d;
    margin: 5px 0px;
    border-radius: 3px;
    padding: 10px 5px;
    border: none;
    float: left;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
}

.icon {
    float: right;
    background: #4e769b;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 13.33px;
    line-height: 15px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;    
    width: initial;
    height: initial;
}

.icon-mod, .icon-baja, .icon-add, .icon-remove {
	height: 15px; 
}

.asignar-container {
    display: inline;
    width: 60px;
    top: 5px;
    float: right;
    right: 70px;
    position: absolute;
    background: #4e769b;
    border-radius: 3px;
    text-align: center;
	z-index: 5;
}

#asignar-container {
	right: 35px;
}

.asignar-container-triangle {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 60px;
    top: 8px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #4e769b;
}

.asignar-container-numeros {
	width: 75px;
	right: 56px !important;
}

.asignar-container-triangle-numeros {
	left: 75px;
}

.asignar-container .icon {
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    border-radius: 3px;
    margin: 0;
}

.icon:hover {
    background-color: #3e5c77;
}

.icon-alta {
	float: left;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.page-list .element-list {
	display: block;
}

.baja-button {
	background-color: #ea0303 !important;
}	

.details-link {
	color: black;
    width: calc(100% - 70px);
    display: inline-block;
}

#list-puesto-container .details-link {
	width: calc(100% - 328px);
}