#notice-holder {
    position: absolute;
    width: calc(100% - 30px);
    height: 40px;
    top: 64px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #dcdcdc;
}

.positive {
    background: #e9f2cc;	
}

.negative {
    background: #ffc3ab;	
}

.notice-container {
	float: left;
}

.notice-title {
	font-weight: 700;
    color: #1d3052;
    display: block;
    margin-bottom: 5px;
}

.logo {
	height: 40px;
	width: 50px;
	float: left;
}

.logo img {
	height: 40px;
}