.top-frame{
	margin: 5px 10px;
    height: 100px;
}

.right-frame{
	float: right;
	width: 30%;
	display: block;
}

.left-frame{
	float: left;
	width: 60%
}

.bottom-form{
    width: 100%;
    margin-top: 20px;
    display: inline-block;
}

.prox-nums-frame{
	margin: 20px 0px;
	display: inline-block;
}

.estado-puesto-button{
    margin: 15px 20px;
    display: block;
}

.atender-button{
	background-color: #ea0303!important;
	float: none !important;
	width:22%;
}

.re-llamar-button{
	float: none !important;
	width:21%;
}

.liberar-button{
	float: none !important;
	width:21%;
}

.atender-button:hover{
	background-color: #fd1a1a!important;
	float: none !important;
	width:21%;
}

.ver-atrasados-button{
	float: none !important;
}

.ver-pausados-button{
	float: none !important;
}

.llamar-siguiente-button{
	float: none !important;
	width:21%;
}

.top-line{
	padding: 5px 0px;	
}

.num-line{
	display: block;
    border: none;
    background: transparent;
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.data-line{
	display: inline-block;
	width: 100%;
	margin: 10px;
}

.text-box{ 
    border: 1px solid black;
    display: inline;
    padding: 5px;
    float: left;
    width: 60%;
    margin: 10px;
    overflow-y: scroll;
    max-height: 80px;
}

a{
	color: black;
}
