.right-frame{
	float: right;
	width: 30%;
}

.prox-nums-frame{
	margin: 20px 0px;
	display: inline-block;
}

.left-frame{
	float: left;
	width: 60%
}

.bottom-form{
	display: inline-block;
    margin: 20px 9% 0px 9%;
}

.data-line{
	display: inline-block;
	width: 100%;
	margin: 10px;
}

.text-box{ 
    border: 1px solid black;
    display: inline;
    padding: 5px;
    float: right;
    width: 50%;
}

.secondary-button {
	width: initial !important;
	background-color:#153975; 
	color: #fff;
	border: none;	
	height: 35px !important;
	line-height: 35px;
	padding: 0 10px;
	float: right;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
}

.secondary-button:hover {
	background-color: #1b468d; 
}

.secondary-deactivated {
	background-color: #4a73b5;
	cursor: default;
}

.rojo{
	background-color: #ff0000;
}
.secondary-deactivated:hover {
	background-color:  #4a73b5;
}

.estado-puesto-button{
	margin: 15px 0px;	
	display: block;
}