.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.popup {
	position: relative;    
	top: 25%;
    transform: translateY(50%);
	margin: 0px auto;
    width: 380px;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
}

.popup h2 {
	margin-top: 0;
}
 
.close-x {
    position: absolute;
    top: 13px;
    right: 20px;
    transition: all 200ms;
    text-decoration: none;
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.popup .content {
	overflow: auto;
}	

.multiple-lists {
	width: calc(50% - 5px);
	display: inline-block;
}

.list-container {
    background-color: white;
    border: 1px solid #a9a9a9;
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    max-height: 350px;
}

.last-list {
	float: right;
}

.list-title {
    text-align: center;
    float: none;
    display: block;
    text-decoration: none !important;
}

.element-list {
	font-size: 14px;
	padding: 5px;
    display: inline-block;
}

.element-list-selected {
	background: #4e769b !important;
	font-weight: bold;
	color: white;
}
