.options-footer {
	float: left;
	width: calc(100% - 20px);
	padding: 10px;
}

.reference-container {
	margin-bottom: 15px;
}
	
.color-reference {
	height: 15px;
    width: 40px;
    background-color: #4e769b;
    float: left;
    display: inline;
    margin-right: 10px;
}

.no-select-color-reference {
	background-color: #1d304d;
	margin-bottom: 10px;
}