body{
	position: absolute;
	width: 100%;
	background-color: #f0f2f4;
	font-size: 14px;
	font-family: arial,sans-serif;
	font-style: normal;
	margin: 0;
}

.page-list {
	padding-bottom: 10px;
}

.body-not-scroll {
	overflow: hidden;
}

.page-container {
    width: 624px;
    float: left;
    position: relative;
    left: calc((100% - 624px)/2);
    margin-top: 50px;
}

.page-title-container {
	height: 35px;
    margin: 20px auto;
    position: relative;
    float: left;
    width: 100%;
}

.page-title {
    display: inline;
    padding: 0;
    float: left;
    margin: 0 10px 0 0;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: #1d304d;
    text-decoration: underline;
    width: initial;
    border: none;
    height: initial;
    background: initial;
    cursor: pointer;
}

.page-title:focus {
	border: none;
    outline: none;
}

.page-title-last {
	text-decoration: none !important;
	cursor: initial;
}

.arrow {
	text-decoration: none !important;
}

.page-frame{    
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    float: left;
    left: calc((100% - 624px)/2);
    min-width: 605px;
}

.frame-title{
	text-align: center;
    margin: 0;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}	

.options-buttons-container { 
    margin: 0px 0px;
    float: left;
}

#recepcion-button {
    word-break: break-all;
}

#listar-numeros-sistema {
	padding: 34px 10px;
}

#recepcion-page .option-button {
	word-break: break-all;
}

.option-button {
	width: 131px;
    height: 100px;
    margin: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
	background-color: #4e769b;
	white-space: normal;
}

.option-button-menu {
	width: 151px;
	height: 120px;
}

.option-button:hover {
	background-color: #3e5c77;
}

.option-button-selected {
	background-color: #1d304d !important;
}

.deactivated {
	background-color: #ababab !important;
	cursor: default !important;
	pointer-events: none;
}


.deactivated:hover {
	background-color: #abde69;
}

.hidden {
	display: none !important;
}

a, a:active, a:target {
	text-decoration: none;
}	

.test-button {
	float: left;
    margin: 10px;
    cursor: pointer;
    background: white;
    font-weight: bold;
    border: none;
}

.secondary-button {
	background-color:#153975; 
	color: #fff;
	border: none;	
	height: 35px !important;
	line-height: 35px;
	padding: 0 10px;
	border-radius: 4px;
	cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    width: initial;
}

.secondary-button:hover {
	background-color: #1b468d; 
}

/*---------------LIST STUFF------------------*/

.list-container {
    background-color: white;
    border: 1px solid #a9a9a9;
    overflow-y: scroll;
    max-height: 350px;
}

.list-title {
    text-align: center;
    float: none;
    display: block;
    text-decoration: none !important;
}

.element-list {
	position: relative;
    font-size: 14px;
    padding: 5px;
    display: block;
    line-height: 25px;
}

.element-list:nth-child(4n+0) {
	background: #f5f5f5;
}

#list-puestos-container a {
	color: black;
}

a:nth-of-type(2n) {
	background: #f5f5f5;
}

.element-list-selected {
	background: #4e769b !important;
	font-weight: bold;
	color: white !important;
}

/*---------------FORM STUFF------------------*/

form {
	display: inline;
}

.form-line {
	margin-bottom: 10px;
    float: left;
    display: block;
    width: 100%;
}

label {
	line-height: 25px;
    text-align: left;
    display: inline-block;
    float: left;
}

input { 
    margin-left: 0;
    float: right;
    width: calc(100% - 158px);
    height: 20px;
    padding-left: 5px;
    border: 1px solid #a9a9a9;
    background: #f1f2f4;
}

.reference-input {
	line-height: 35px;
	height: 30px;
}

.read-only {
	background: transparent;
    border: none;
    padding-left: 0;
    width: calc(100% - 153px);
}

.sub-title {
	color: #253f66;
	line-height: 35px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background-color: #f5f5f5;
}	

.action-button {
	width: initial !important;
	background-color:#508110; 
	color: #fff;
	border: none;	
	height: 35px !important;
	line-height: 35px;
	padding: 0 10px;
	float: right;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
}

.combo-box {
	margin-right: 339px;
    float: right;
    height: 20px;
    padding-left: 5px;
    border: 1px solid #a9a9a9;
    background: #f1f2f4;
}

.action-button:hover {
	background-color: #609c12;
}

.cancel-button {
    background-color: transparent !important;
    font-weight: bold;
    color: #ea0303 !important;
}

.cancel-button:hover {
	color: #c50404 !important;
}

.buttons-container {
	float: right;
	width: 100%;
}

.tramite-finalizar-oprimido{
	background:#1d304d !important;
}

.secondary-button:hover {
	background-color: #1b468d; 
}

#search-form{
	float: right;
}

.icon-search{
	cursor: pointer;
    width: 24px;
    height: 24px;
	margin-left: 20px;
    padding-left: 0px;
    border: none;
    margin: 0px;
    padding: 0px;
}

.input-search{
	margin-left: 20px;
    height: 20px;
    padding-left: 10px;
    float: none;
    margin-right: 5px;
    width: 155px;
    background: white;
}