<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>SARPWeb</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>pages/login.xhtml</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Only admins</web-resource-name>
      <url-pattern>/pages/admin.jsf</url-pattern>
      <url-pattern>/pages/admin.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Menu Principal</web-resource-name>
      <url-pattern>/pages/menuPrincipal.xhtml</url-pattern>
      <url-pattern>/pages/menuPrincipal.jsf</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>RESPSEC</role-name>
      <role-name>CONSULTOR</role-name>
      <role-name>OPERADOR</role-name>
      <role-name>OPERADORSR</role-name>
      <role-name>RECEPCION</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Responsable de Sector</web-resource-name>
      <url-pattern>/pages/respSector.xhtml</url-pattern>
      <url-pattern>/pages/respSector.jsf</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>RESPSEC</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Consultor</web-resource-name>
      <url-pattern>/pages/consultor.xhtml</url-pattern>
      <url-pattern>/pages/consultor.jsf</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>CONSULTOR</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Operador</web-resource-name>
      <url-pattern>/pages/operador.xhtml</url-pattern>
      <url-pattern>/pages/operador.jsf</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>OPERADOR</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Operador Senior</web-resource-name>
      <url-pattern>/pages/operadorsr.xhtml</url-pattern>
      <url-pattern>/pages/operadorsr.jsf</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>OPERADORSR</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Recepcionista</web-resource-name>
      <url-pattern>/pages/recepcion.xhtml</url-pattern>
      <url-pattern>/pages/recepcion.jsf</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>RECEPCION</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>ApplicationRealm</realm-name>
    <form-login-config>
      <form-login-page>/pages/login.xhtml</form-login-page>
      <form-error-page>/pages/loginError.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>ADMIN</role-name>
  </security-role>
  <security-role>
    <role-name>RESPSEC</role-name>
  </security-role>
  <security-role>
    <role-name>CONSULTOR</role-name>
  </security-role>
  <security-role>
    <role-name>OPERADOR</role-name>
  </security-role>
  <security-role>
    <role-name>OPERADORSR</role-name>
  </security-role>
  <security-role>
    <role-name>RECEPCION</role-name>
  </security-role>
  <error-page>
    <error-code>403</error-code>
    <location>/pages/sinAutorizacion.xhtml</location>
  </error-page>
</web-app>